@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: "Montserrat", sans-serif;
  color: #07090b;
}

h1,
h2 {
  font-size: 48px;
  font-weight: 700;
}
h3 {
  font-size: 20px;
  font-weight: 600;
}
h4 {
  font-size: 28px;
  font-weight: 700;
}

p,
li {
  font-size: 18px;
  font-weight: 400;
}

section {
  padding: 120px 80px 120px 80px;
}

button {
  background-color: #faae18;
  padding: 12px 30px 12px 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  border: none;
}

body {
  margin: 0px;
  padding: 0px;
}

footer {
  background-color: #0a0a0a;
}

/*
ol {
  list-style: none;
  counter-reset: step;
}
li {
  counter-increment: step;
}
li::before {
  content: counter(step);
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 20px;
  text-align: center;
  margin-right: 20px;
  background-color: #faae18;
  color: white;
}
*/

.contenedor-menu {
  background-color: #031f3d;
  display: grid;
  grid-template-columns: 40% 35% 25%;
  text-align: center;
  align-items: center;
  margin: 0px;
  padding: 20px;
}

.opciones-menu-container {
  display: flex;
  justify-content: space-evenly;
}

.opciones-menu {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
  height: 8vh;
  width: auto;
}

.boton-menu1 {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  padding: 12px;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s;
}

.boton-menu1:hover {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  padding: 10px;
  color: #faae18;
  background-color: #031f3d;
  border: 2px solid #faae18;
}

.boton-menu2 {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  padding: 10px;
  margin-left: 20px;
  color: #faae18;
  background-color: #031f3d;
  border: 2px solid #faae18;
  cursor: pointer;
  transition: background-color 0.5s;
}

.boton-menu2:hover {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  padding: 10px;
  color: white;
  background-color: #faae18;
}

.contenedor-botones {
  display: flex;
  justify-content: space-around;
  margin-right: 40px;
}

.slide1 {
  display: grid;
  grid-template-columns: 50% auto;
  background-image: url(../images/background-cobra1.jpg);
  background-size: 100% 170%;
}
.slide2 {
  display: grid;
  grid-template-columns: 50% auto;
  background-color: #faae18;
  align-items: center;
  background-image: url(../images/background-cobra.jpg);
  background-size: 100% 240%;
}

.slide3 {
  display: grid;
  grid-template-columns: 50% auto;
  background-color: #e3e9f0;
  background-image: url(../images/background-cobra3.jpg);
  background-size: cover;
  padding-bottom: 0px;
}
.slide4 {
  display: grid;
  grid-template-columns: 50% auto;
  background-color: #faae18;
  background-image: url(../images/background-cobra.jpg);
  background-size: cover;
  padding-bottom: 40px;
}
.slide5 {
  display: grid;
  grid-template-columns: auto auto auto;
}

.competencias-container {
  background-color: #08223d;
  display: flex;
  justify-content: center;
}

.competencias {
  background-color: #05284b;
  padding: 20px 200px 20px 200px;
  border-radius: 30px;
  text-align: center;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links a {
  text-decoration: none;
  padding-right: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s;
}

.links a:hover {
  color: #faae18;
}

#hombre_celebrando {
  height: 100vh;
  width: auto;
}

#cuentas {
  height: 12vh;
  width: auto;
}

#phone-balls {
  height: 90vh;
  width: auto;
}

#phone_champions {
  height: 80vh;
  width: auto;
}

#amigos-celebrando {
  height: 80vh;
  width: auto;
}

#borde-azul {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/* For screens larger than 768px (e.g. small laptops) */
@media (min-width: 768px) {
}

/* For screens smaller than 576px (e.g. smartphones) */
@media (max-width: 576px) {
  /*.menu {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .logo {
    height: 2vh;
    width: auto;
  }

  .menu-links {
    flex-direction: column;
    gap: 10px;
  }*/

  .logo {
    height: 6vh;
    width: auto;
    margin-bottom: 15px;
  }
  h1,
  h2 {
    font-size: 32px;
    font-weight: 700;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
  }
  h4 {
    font-size: 28px;
    font-weight: 700;
  }

  p,
  li {
    font-size: 16px;
    font-weight: 400;
  }

  body {
    text-align: center;
  }

  section {
    padding: 50px 30px 50px 30px;
  }

  .slide1 {
    grid-template-columns: auto;
  }

  .slide2 {
    grid-template-columns: auto;
  }

  .slide2 > *:first-child {
    order: 2;
  }

  .slide3 {
    grid-template-columns: auto;
    text-align: left;
    background-size: 100% 70%;
    background-repeat: no-repeat;
  }

  .slide4 {
    grid-template-columns: auto;
  }

  .slide4 > *:first-child {
    order: 2;
  }

  .competencias {
    padding: 10px;
    font-size: 16px;
  }

  #group {
    height: auto;
    width: 100%;
  }

  #amigos-celebrando {
    height: auto;
    width: 100%;
  }

  #borde-azul {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: auto;
    width: 100%;
  }

  #hombre_celebrando {
    height: auto;
    width: 100%;
  }

  #cuentas {
    height: auto;
    width: 100%;
  }

  #phone-balls {
    height: auto;
    width: 100%;
  }

  #phone_champions {
    height: auto;
    width: 100%;
  }
}
